# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Defaults to the local database deployed from the `docker-compose.yml` stack
# DATABASE_URL="mysql://root@127.0.0.1:3306/turborepo"

# Prisma
DATABASE_URL=file:./db.sqlite

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=asdf
NEXTAUTH_URL=http://localhost:3000

# Next Auth Provider
AUTH0_CLIENT_ID=asdf
AUTH0_CLIENT_SECRET=asdf
AUTH0_ISSUER=https://localhost:3000/auth

# Flow
ADMIN_PRIVATE_KEY_HEX=f5ab5d57
NEXT_PUBLIC_ADMIN_KEY_INDEX=0
NEXT_PUBLIC_ADMIN_ADDRESS=0xf8d6e0586b0a20c7